@simpleblack: #080808;

.navbar{
	margin-bottom: 1px;
	border-radius: 0;
}

#header{
	min-height: 550px;
	background: @simpleblack;
	margin-bottom: 20px;
}

#footer{
	min-height: 200px;
	background: @simpleblack;
	color: #fff;
}